{% extends 'layout.html.twig' %}

{% block product_active %}active{% endblock %}

{% block content %}

<h2>All products</h2>
<div class="text-end">
	<a href="{{path('product_new')}}">
		<button class="btn-success btn btn-sm">Add</button>
	</a>
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Categories</th>
			<th scope="col">Refecence</th>
			<th class="text-end" scope="col">Price (Inclusive of VAT)</th>
			<th class="text-end" scope="col">Quantity</th>
			<th scope="col" class=""></th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr>
			<th scope="row">{{product.id}}</th>
			<td class="text-capitalize">{{product.label}}</td>
			<td class="text-capitalize">{{product.categories|category}}</td>
			<td class="text-uppercase">{{product.reference}}</td>
			<td class="text-end">{{product.htprice*(product.vat/100)}}</td>
			<td class="text-end">{{product.quantity}}</td>
			<td class="text-end">
				<div class="btn-group" role="group" aria-label="Basic example">
					<a href="{{path('product_show', {'id': product.id})}}">
						<button type="button" class="btn btn-sm btn-primary">More</button></a>
					<a href="{{path('product_edit', {'id': product.id})}}">
						<button type="button" class="btn btn-sm btn-secondary">Edit</button>
					</a>
					{% include "product/remove.html.twig" %}
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}